<div class="main">

    <div class="main_a">

        <h1>All a Dream</h1>

    </div>

    <div class="main_b">
        <p class="pregunta">¿Quienes somos?</p>
        <p class="respuesta">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam itaque voluptatum quisquam totam, molestiae facere modi alias corporis. Illo expedita quisquam eaque numquam et maiores corrupti temporibus. Cum esse similique veniam nulla quos doloribus deserunt quo perspiciatis asperiores? Adipisci ipsam asperiores nemo incidunt eos quia eveniet distinctio in, est maiores aspernatur eum delectus omnis earum vitae quo quod voluptatum! Commodi.</p>
        <p class="pregunta">¿De donde somos?</p>
        <p class="respuesta">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate, fugit laborum! Quia necessitatibus dolor nihil optio magnam distinctio, iure quae labore quidem debitis perspiciatis facilis repellat quasi rem incidunt, aut delectus natus eius in voluptate sapiente similique accusamus? Explicabo reprehenderit, inventore ut dolores qui fugit commodi culpa, cum numquam ipsum totam earum vitae labore maxime id? Obcaecati ratione quas autem.</p>
        <p class="pregunta">¿Nuestro objetivo?</p>
        <p class="respuesta">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum, exercitationem a! Saepe, nobis neque. Saepe, ipsa numquam illo consectetur, expedita minus neque temporibus maxime corporis possimus aperiam excepturi, assumenda dolorem!</p>
    </div>

</div>